 <ion-header>

  <ion-navbar>
    <ion-title>List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item detail-none class="listTile">
    <ion-input [(ngModel)]="list.name" type="text"></ion-input>
  </ion-item>


  <ion-list no-lines>
    <!-- <button ion-item detail-none *ngFor="let item of list?.items"> -->
    <ion-item detail-none *ngFor="let item of list?.items">
      <ion-icon name="square-outline" *ngIf="item.state ==0" item-start (click)="setState(item, 1)"></ion-icon>
      <ion-icon name="checkbox-outline" *ngIf="item.state ==1" item-start (click)="setState(item, 0)"></ion-icon>

        <ion-input [(ngModel)]="item.name" [class.done]="item.state==1" type="text" (ionFocus)="setFocus(item)"></ion-input>
          <!-- <textarea rows="1" maxLength="500" (keyup)="resize(this)" [(ngModel)]="item.name"></textarea> -->
      <!-- <ion-textarea rows="1" [(ngModel)]="item.name" [class.done]="item.state ==1"></ion-textarea> -->
      
      <ion-icon name="close-circle" item-end *ngIf="item.edit" (click)="delete(item)"></ion-icon>
    </ion-item>
    <!-- </button> -->

    <button ion-item detail-none (click)="addItem()">
      <ion-icon name="add" item-start></ion-icon>
      Add Item
    </button>
  </ion-list>

</ion-content>
